.container {
    height: 400px;
    background-color: #eebefa;
}
.left {
    height: 400px;
    width: 200px;
    background-color: #f783ac;
}
.content {
    height: 400px;
    background-color: #d9480f;
}
.right {
    height: 400px;
    width: 200px;
    background-color: #c0eb75;
}
.left,
.content,
.right {
    font-size: 70px;
    line-height: 400px;
    text-align: center;
}

/* 清除浮动 */
.clearfix:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
